		<nav class="navigation">
			<div class="close__btn__container">
				<img class="navigation__close__btn" src="#" alt="" />
			</div>
			<ul>
				<li class="link__in__middle"><%=link_to "Model S",root_path,class: "nav__link"%></li>
				<li class="link__in__middle"><%=link_to "Model 3",root_path,class: "nav__link"%></li>
				<li class="link__in__middle"><%=link_to "Model X",root_path,class: "nav__link"%></li>
				<li class="link__in__middle"><%=link_to "Model Y",root_path,class: "nav__link"%></li>
				<li class="link__in__middle">
					<a class="nav__link" href="#">Solar roofs</a>
				</li>
				<li class="link__in__middle">
					<%=link_to "Solar Panels",root_path,class: "nav__link"%>
				</li>
				<li><%=link_to "Existing Inventory",root_path,class: "nav__link"%></li>
				<li><%=link_to "Used Inventory",root_path,class: "nav__link"%></li>
				<li><%=link_to "Find us",root_path,class: "nav__link"%></li>
				<li><%=link_to "Support",root_path,class: "nav__link"%></li>
				<li><%=link_to "Investor Relations",root_path,class: "nav__link"%></li>
			</ul>
		</nav>